@import url("https://fonts.googleapis.com/css?family=Raleway:400");

/* Variables para color y tamaño */
:root {
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
  --font-size: 3vw;
  --border-width: 0.35rem;
  --padding: 3vw;
  --margin: max(1rem, 3vw);
}

/* Estilo base */
body {
  font-family: Raleway, sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  background-color: rgba(10, 12, 18, 1);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

/* Caja */
.box {
  font-size: var(--font-size);
  margin: var(--margin);
  border: var(--border-width) solid;
  padding: var(--padding);
  border-image: conic-gradient(from 90deg, var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
}

/* Segunda caja con gradiente radial */
.box:nth-child(2) {
  border-image: radial-gradient(ellipse at 50% 50%, var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
}
